<div class = "login_box">
  <h1>Welcome</h1>
  <form method = "post">
    <div class = "text_box">
        <input type = "text" required>
        <span></span>
        <label>Email</label>
    </div>
      <div class = "text_box">
        <input type = "password" required>
        <span></span>
        <label>Password</label>
    </div>
    <input type = "submit" value = "Login">
  </form>
</div>