<header>
<div class = "title justify-space-between-md">
<h1>Subject</h1>
<h3>Description - </h3>
</div>
<div class = "justify-flex-end-md">
<h2>Urgency</h2>
</div>
</div>
<div class = "justify-flex-end-md">
<h4>Opened by client on date</h4>
</div>
</header>



<footer>
<div class="row justify-space-between-md">
      <div class="form-group">
        <button type="button" class="btn btn-primary">Back</button>
      </div>
</footer>